/* title style */
.title {
    background-image: url("images/title_background.jpg"); 
    background-size: cover; 
    background-position: center;
    color: #FFFFFF; 
    font-size: 40px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
  }
  
/* background effect*/
body {
    background-image: url("images/background.jpg"); 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.element {
    position: relative;
  }
.element::before {
  content: "";
  background-image: url("images/background.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3; 
  z-index: -1; 
}

/* Keyframe fadein effect */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }

/* hover effect */
.navbar .dropdown-menu a:hover {
  background-color: #808080; 
  color: #ffffff; 
}
.navbar .nav-item.dropdown {
  position: relative;
}
.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 0; 
  animation: fadeIn 0.3s forwards; 
}
